<div class="body">
    <div class="login">
      <mat-spinner *ngIf="loading" class="spinner" diameter='50'></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
            <img src="../../../assets/img/bicycle.png" width="50%">
        <h1>Login BikeSafe</h1>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="usuario">
          </mat-form-field>
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
          <br>
          <button type="submit" mat-raised-button class="ancho" color="primary" [disabled]="form.invalid">Ingresar</button>
        </form>
        
    </div>
</div>