<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">





<div class="jumbotron text-center">
    <h1 class="titulo">Bienvenido a BikeSafe</h1> 
    <p class="subtitulo">Hospeda tu Bicicleta conmigo, con BikeSafe</p> 
    <form>
      <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="Correo Electronico" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger">Suscribete</button>
        </div>
      </div>
    </form>
  </div>
  <!-- FOOTER -->
  <footer class="container">
    <p>© 2020 Bike Safe.</p>
  </footer>