
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Referencia">

      <div style="padding:16px;">
        <p>Colaborador Juanito</p>
        <img src="https://i.pinimg.com/originals/af/4d/71/af4d71152eee818682e2068107f692c5.jpg"  width="400" height="400">
      </div>
      
      

    </mat-tab>
    <mat-tab label="Contactar">

      <div style="padding: 16px;">
        <button mat-stroked-button color="accent">Whatsapp</button>
        <button mat-stroked-button color="primary">Llamar</button>
      </div>

      

    </mat-tab>
  </mat-tab-group>